<ion-header>
  <ion-toolbar>
    <ion-icon class="back" name="arrow-back" (click)="Back()"></ion-icon>
    <ion-searchbar (ionInput)="filterList($event)" placeholder="search for movies..."></ion-searchbar>
    <p class="search">Search</p>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="items && list==true">
    <ion-list style="background: transparent;">
      <ion-item style="background: transparent;" *ngFor="let item of items">

        <ion-label>
          {{item.title}}
        </ion-label>

      </ion-item>
     

    </ion-list>

  </div>

</ion-content>
