
<ion-content>
  
  <img class="background" src="assets/covers/cover4.jpg"/>
  <div class="black">
    <img class="new-logo" src="assets/brugo.png"/>
  </div>

 
  <div class="login">

    <ion-label style="margin-left:10px">Create your account.</ion-label>

    <ion-item>
      <ion-input [(ngModel)]="username" placeholder="Username"></ion-input>
      <ion-icon name="person"  slot="end" align-self-center></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
      <ion-icon name="mail-outline"  slot="end" align-self-center></ion-icon>
    
    </ion-item>
 
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
      <ion-icon name="lock-closed-outline" slot="end" align-self-center></ion-icon>
    </ion-item>
    <div class="term">
      <ion-checkbox (click)="agree()" slot="start" [(ngModel)]="box"></ion-checkbox>
      <p>I agreed to the Terms and conditions</p>
    </div>
     
    

    <ion-button class="button-1" [disabled]="!check" (click)="signup()">Signup</ion-button>
    <div class="section">
      <p style="text-align: center;"><span class="section-1">1</span> <span class="section-2">2</span><span class="section-2">3</span></p>
    </div>
  </div>


  <div class="signup">
    <p style="text-align: center;">
      Already have an account? <a (click)="goToLogin()">Login</a>
    </p>
  </div>


</ion-content>




