
<ion-content>
  
  <img class="background" src="assets/covers/cover5.jpg"/>
  <div class="black">
    <img class="new-logo" src="assets/computer-logo.png"/>
  </div>

 
  <div class="login">

    <ion-label style="margin-left:20px; font-size: 20px;font-weight: bolder;">Setting up your account</ion-label>

    <ion-item>
      <p style="font-size: 16px;">Brugo is personalised for you. Please use your email and password to watch Brugo at any time.</p>
    </ion-item>


    <ion-button class="button-1" (click)="goToLogin()">Finish</ion-button>
    <div class="section">
      <p style="text-align: center;"><span class="section-2">1</span> <span class="section-2">2</span><span class="section-1">3</span></p>
    </div>
  </div>


  <!-- <div class="signup">
    <p style="text-align: center;">
      Already have an account? <a (click)="goToLogin()">Login</a>
    </p>
  </div> -->


</ion-content>




