
<ion-content>
  
  <ion-icon class="close" (click)="Anonymous()" name="close-outline"></ion-icon>


  <ion-slides style="width: 100%; height:100%;" pager [options]="slideOptsOne">
    <ion-slide style="width: 100%; height:100%;">
      <img class="back-1" src="assets/background1.jpg" alt="back-1"/>
    </ion-slide>
    <ion-slide style="width: 100%; height:100%;">
      <img class="back-1" src="assets/background0.jpg" alt="back-1"/>
    </ion-slide>
    <ion-slide style="width: 100%; height:100%;">
      <img class="back-1" src="assets/background2.jpg" alt="back-1"/>
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item>
      
    </ion-item>
    <ion-item>
      
    </ion-item>
  </ion-list>


  


</ion-content>
