<ion-header>
  <ion-toolbar>

    <img class="logo" src="assets/brugo.png"/>
    <ion-icon class="setting" name="settings-outline"></ion-icon>
    <ion-icon class="notification" name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="gradient" text-wrap>
    <img class="profile-photo" src="assets/profile.png"/>
    <ion-label text-wrap>
      <p class="profile-name" >{{profileName}}</p>
      <p class="user-name">{{userName}}</p>
    </ion-label>
    <ion-button (click)="signOut()" class="log-in">Sign Out</ion-button>
    <ion-label>
    
    </ion-label>
  </ion-item>


  <ion-list>

    <ion-item>


    <ion-icon class="help" name="albums"></ion-icon>

    <ion-label style="color:white;">
      My Library
    </ion-label>

  </ion-item>
  <ion-item>

    <ion-icon class="help" name="help-buoy-outline"></ion-icon>

    <ion-label style="color:white;">
      Reward
    </ion-label>

  </ion-item>
  <ion-item>

    <ion-icon class="help" name="help-buoy-outline"></ion-icon>

    <ion-label style="color:white;">
      Promo Voucher
    </ion-label>

  </ion-item>
  <ion-item>

    <ion-icon class="help" name="help-buoy-outline"></ion-icon>

    <ion-label style="color:white;">
      Help and Others
    </ion-label>

  </ion-item>
</ion-list>
</ion-content>
